/ShipmentGUI/nbproject/private/
/shipmentGUI/nbproject/private/
/shipmentGUI/build/
/theSnake/nbproject/private/
/theSnake/build/
/TicTacToe/nbproject/private/
/TicTacToe/build/
/DataStructureProjectModelA/nbproject/private/
/JavaApplication42/nbproject/private/
/DataStructureProjectModelA/build/